<div class="container">

  <!--nav bar-->
  <div class="col-md-offset-4">
    <ul class="nav nav-pills">
      <li><%= link_to "Home", products_path, data: {toogle: "tab"} %></li>
      <% $categories=Category.all %>
      <% $categories.each do |c| %>
          <% if c.name == @category.name %>
              <li class="active"><%= link_to c.name, category_path(c), data: {toogle: "tab"} %></li>
          <% else %>
              <li><%= link_to c.name, category_path(c), data: {toogle: "tab"} %></li>
          <% end %>
      <% end %>
    </ul>
  </div>


  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="col-md-4 column">
          <%= render :partial => "common/sidebar", :locals => {:products => @products} %>
        </div>
        <div class="col-md-8 column">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="row clearfix">
                <% @products.each do |product| %>
                    <div class="row clearfix">
                      <div class="col-md-4 column">
                        <%= image_tag(product.pic, class: "img-responsive") %>
                      </div>
                      <div class="col-md-8 column">
                        <h2>
                          <%= product.name %>
                        </h2>

                        <p>
                          <%= product.description %>asdfasdfasdfasdfasdfasdfs
                        </p>

                        <p>
                          <%= link_to "Detail...", product_path(product) %>
                        </p>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
