<% if @product.errors.any? %>
	<ul>
		<% @product.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= f.label :name, "Name" %>
<%= f.text_field :name %>

<%= f.label :description, "Description" %>
<%= f.text_area :description %>

<%= f.label :category, "Category" %>
<%= f.text_field :category %>

<%= f.label :pic ,"Picture Name " %>
<%= f.text_field :pic %>

<%= f.label :pic2 , "Picture Name " %>
<%= f.text_field :pic2 %>

<%= f.label :pic3 , "Picture Name " %>
<%= f.text_field :pic3 %>

<%= f.label :long_des , "Long Description " %>
<%= f.text_area :long_des %>

<%= f.label :video_url , "Video " %>
<%= f.text_field :video_url %>

<%= f.label :price , "Price" %>
<%= f.text_field :price%>



