<div class="container">
  <div class="col-md-offset-4">
    <!--navbar-->
    <ul class="nav nav-pills">
      <li class="active"><%= link_to "Home", products_path, data: {toogle: "tab"} %></li>
      <% $categories=Category.all %>
      <% $categories.each do |c| %>
          <li><%= link_to c.name, category_path(c), data: {toogle: "tab"} %></li>
      <% end %>
    </ul>
  </div>

  <!--shor all product -->
  <div class="row row-offcanvas row-offcanvas-right">
    <%= render :partial => "common/productList" %>
    <%= paginate @products %>
  </div>
</div>


<!--TODO : page list -->
<%= link_to "New event", new_product_path %>