

<% @products.each do |product| %>
    <div class="col-lg-4">
      <div class="thumbnail">
        <%= image_tag(product.pic, class: "img-responsive", height: '140', width: '140') %>
        <div class="caption">
          <h3><%= product.name %>  </h3>
            <p align ="center"><%= product.description %></p>
            <button type="button" class="btn btn-info"><%= product.price %></button>
            <%= link_to "Read More...", product_path(product), class: "btn btn-dafult" %>
        </div>
      </div>

      <p><%= link_to 'edit', edit_product_path(product) %></p>

      <p><%= button_to 'delete', product_path(product), :method => :delete %> </p>
    </div>
<% end %>