<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "小市場大驚奇" %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render :partial => "common/navBar" %>
</head>
<body>

<!--TODO : Deploy the website -->

<p style="color: green"><%= flash[:notice] %></p>

<p style="color: red"><%= flash[:alert] %></p>
<%= yield %>

</body>

<!--footer-->
<%= render :partial => "common/footer" %>

</html>
