<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "小市場大驚奇" %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <div class="jumbotron">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">Contact us</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>


    <!--caresoul -->
    <div class="row clearfix">
      <div class="col-md-6 column">
        <div class="carousel slide" id="carousel-625497">
          <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carousel-625497">
            </li>
            <li data-slide-to="1" data-target="#carousel-625497">
            </li>
            <li data-slide-to="2" data-target="#carousel-625497">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img alt="" src="http://lorempixel.com/1600/500/sports/1">

              <div class="carousel-caption">
                <h4>
                  First Thumbnail label
                </h4>

                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at
                  eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
            <div class="item">
              <img alt="" src="http://lorempixel.com/1600/500/sports/2">

              <div class="carousel-caption">
                <h4>
                  Second Thumbnail label
                </h4>

                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at
                  eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
            <div class="item">
              <img alt="" src="http://lorempixel.com/1600/500/sports/3">

              <div class="carousel-caption">
                <h4>
                  Third Thumbnail label
                </h4>

                <p>
                  Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at
                  eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                </p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#carousel-625497" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#carousel-625497" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
      <div class="col-md-6 column">
        <h2>
          Heading
        </h2>

        <p>
          Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui.
        </p>

        <p>
          <a class="btn" href="#">View details »</a>
        </p>
      </div>
    </div>
  </div>
</head>
<body>

<!--TODO : Deploy the website -->
<!--TODO: add footer here -->

<p style="color: green"><%= flash[:notice] %></p>

<p style="color: red"><%= flash[:alert] %></p>
<%= yield %>

</body>

<!--footer-->
<div class="container table-bordered">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="row clearfix">
                <div class="col-md-8 column">
                  <h3 class="">
                    Small market gives you infinity happiness !!
                  </h3>
                </div>
                <div class="col-md-4 column">
                  <address><strong>Twitter, Inc.</strong><br/> 795 Folsom Ave, Suite 600<br/> San Francisco, CA
                    94107<br/> <abbr title="Phone">P:</abbr> (123) 456-7890
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</html>
